<h1></h1>
<form action='/result'>
  <div class="form-group">
    <label for=""></label>
    <input id="textInput" name="textInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
